<a href="https://colab.research.google.com/github/sobakaty/Mathshub/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_4_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание №4

Во всех задачах для ввода данных используйте `input()`, а для вывода данных используйте `print()`

## Задача №1

**Условие:** Выведите на экран все нечетные элементы списка (речь не про нечетные индексы, а именно про нечетные элементы).

**Пример для проверки:**  
*Входные данные (в одну строку, через пробел)*     
1 1 1 1 1 2 2 2 2 13 16  
*Выходные данные (в одну строку, через пробел)*   
1 1 1 1 1 13

In [ ]:

n = input()
a = [int(n) for n in n.split()]
for i in a:
    if i % 2 != 0:     
      print(i, end=' ')

67 48 93 332 4739 21 83 137 91 91 1273 99 12 82 91 74 67
67 93 4739 21 83 137 91 91 1273 99 91 67

In [ ]:
res = []
a = input("Входные данные:").split()
for i in a:
  if int(i)%2: 
      res.append(i)
    
print("Выходные данные:", " ". join(res))

 Входные данные:1 1 1 1 1 2 2 2 2 13 16
 Выходные данные: 1 1 1 1 1 13

## Задача №2

**Условие:** Необходимо вывести все элементы списка на экран, которые делятся на 4.

**Пример для проверки:**  
*Входные данные*  
16 28 32 1000 1567 1577   
*Выходные данные*  
16 28 32 1000

In [6]:
n = input()
a = [int(n) for n in n.split()]
for i in a:
    if i % 4 == 0:     
      print(i, end=' ')

16 28 32 1000 1567 1577
16 28 32 1000

## Задача №3

**Условие:** Дан список чисел. Необходимо переставить местами соседние элементы. Если количество элементов нечетное, то последний элемент ставится на первое место после перестановки.

**Пример для проверки:**  
*Входные данные*  
3 10 5 8 39 23 89    
*Выходные данные*  
89 10 3 8 5 23 39

In [ ]:
a = list(map(int, input().split())) 

for i in range(0, len(a) // 2):
     a[2*i], a[2*i + 1] = a[2*i+1], a[2 * i]
if len(a) % 2 == 1:
    for i in range(-1, -len(a), -1):
       a[i], a[i-1] = a[i-1], a[i] 

print(*a, end= ' ')

37 292 83 23 861 374 34 191 348
348 292 37 23 83 374 861 191 34

In [ ]:
change_position = []
for element in input().split():
  change_position.append(int(element))

if len(change_position) % 2 != 0:
  last_element = change_position.pop()
  print(last_element)
  for i in range(0,len(change_position)-1,2):
    change_position[i],change_position[i+1] = change_position[i+1], change_position[i]
  change_position.insert(0, last_element)
  print(*change_position)
else:
  for i in range(0,len(change_position)-1,2):
    change_position[i],change_position[i+1] = change_position[i+1], change_position[i]
  print(*change_position)

## Задача №4

**Условие:** Дан список чисел. Необходимо ввести целое число n. Если элемент в списке больше или равен числу n - оставляем элемент в списке, а если нет, то удаляем из списка. 

**Пример для проверки:**  
*Входные данные*  
1 4 7 8 1 22 9 2 567  
20  
*Выходные данные*  
22 567

In [ ]:
a = list(map(int, input().split()))
n = int(input())
for i in a:
    if i >= n:
      print(i, end=' ')

1 4 7 8 1 22 9 2 567
20
22 567

## Задача №5

**Условие:** В списке хранятся данные о том, какие государственные номера для автомобилей уже выданы ранее. Необходимо написать программу, которая по введенному номеру, будет определять занят он или нет. Если занят, то необходимо вывести ответ в формате "Номер e349ee - занят". Если не занят, то необходимо вывести ответ в формате "Номер у490уу - не занят".

**Пример для проверки:**  
*Входные данные*  
у788гш у429лг у892тт  
у788гш  
*Выходные данные*  
Номер у788гш - занят

In [ ]:
string = input()
n = input()
if n not in string:
  print('Номер', n, '- не занят')
else:
  print('Номер', n, '- занят')

у675ее к534ер к345кк к532ео л434оо н573гг а454ло а454шг р454тр
л434ео
Номер л434ео - не занят

In [ ]:
elements_task_5 = []
for element in input().split():
  elements_task_5.append(element)
current_number = input()

for i in elements_task_5:
  if i == current_number:
    print(f'Номер {current_number} - занят')
    break
  else:
    print(f'Номер {current_number} - не занят')
    break

## Задача №6

**Условие:** Частотный анализ списка. Дан список, состоящий из натуральных чисел. Необходимо вывести сколько раз встречается каждое число в порядке возрастания чисел.

**Пример для проверки:**  
*Входные данные*  
1 4 8 9 2 78 33 23 33 2 4   
*Выходные данные*    
1 1  
2 2  
4 2  
8 1  
9 1  
23 1  
33 2  
78 1

In [ ]:
elements_task_6 = []
for element in input().split():
  elements_task_6.append(int(element))

d = {}

for i in elements_task_6:
  d[i] = elements_task_6.count(i)
result = sorted(d.items())

for i in result:
  print(i[0],i[1])

[]

In [ ]:


arr = list(map(int, input().split(' ')))
for i in set(arr): print(i, arr.count(i))

5 3 4 9 8 7 8 4 6 2 7 2 8 2 6 8 2 9 2 7 2 9 8 1 3 4 5 8 2 9 2 4 3 9
1 1
2 8
3 3
4 4
5 2
6 2
7 3
8 6
9 5

## Задача №7

**Условие:** Дан текст, содержащий знаки препинания. Необходимо определить количество запятых и точек в тексте.

**Пример для проверки:**  
*Входные данные*  
Уж небо осенью дышало, Уж реже солнышко блистало, Короче становился день, Лесов таинственная сень С печальным шумом обнажалась, Ложился на поля туман, Гусей крикливых караван Тянулся к югу: приближалась Довольно скучная пора; Стоял ноябрь уж у двора.  
*Выходные данные*    
Запятые - 5  
Точки - 1

In [ ]:
dotcount = 0
commacount = 0
str = input()
for char in str:
  if char == '.':
    dotcount+=1
  elif char == ',':
        commacount+=1
print('Запятые -', commacount)
print('Точки -', dotcount)

Немного лет тому назад, Там, где, сливаяся, шумят, Обнявшись, будто две сестры, Струи Арагвы и Куры, Был монастырь. Из-за горы И нынче видит пешеход Столбы обрушенных ворот, И башни, и церковный свод; Но не курится уж под ним Кадильниц благовонный дым, Не слышно пенье в поздний час Молящих иноков за нас.
Запятые - 11
Точки - 2

In [ ]:
article = input()
print('Запятые - ', article.count(','))
print('Точки - ', article.count('.'))

## Задача №8

**Условие:** Дана база данных интернет-магазина. Строчка состоит из id пользователя, названия товара (одно слово без пробела) и количество приобретенного товара. Для каждого id пользователя необходимо составить перечень приобретенных товаров, при этом одинаковые товары из списка необходимо сложить и вывести общую сумму приобретенных товаров. 

**Пример для проверки:**  
*Входные данные*  
1289009 футболка 5  
1289009 джинсы 2  
1289003 футболка 3  
1289013 блузы 5  
1289009 футболка 2  
1289003 джинсы 3  
*Выходные данные*    
1289009  
футболка 7  
джинсы 2  
1289003  
футболка 3  
джинсы 3  
1289013  
блузы 5

In [ ]:
a = input().split()
s = []
for i in range(0, len(a), 3):
  s.append(a[i : i + 3])
table = {}
for el in s:
  id, count = int(el[0]), int(el[2])
  names = table.get(id, {})
  names[el[1]] = names.get(el[1], 0) + count
  table[id] = names
for id in sorted(table):
  print(id)
  names = table.get(id)
  for name in sorted(names):
    print(name, names.get(name))

1289009 футболка 5 1289009 джинсы 2 1289003 футболка 3 1289013 блузы 5 1289009 футболка 2 1289003 джинсы 3
1289003
джинсы 3
футболка 3
1289009
джинсы 2
футболка 7
1289013
блузы 5

In [ ]:
shop = []
full_shop = []

while True:
  product = input().split()
  for i in range(0, len(product),3):
      full_shop.append(product[i:i+3])
  if not product:
      break

result = {}

for product in full_shop:
  id, count = product[0], int(product[2])
  name = {}
  name = result.get(id, name)
  name[product[1]] = name.get(product[1],0) + count
  result[id] = name

for id in result:
  print(id)
  name = result[id].items()
  for i in name:
    print(i[0],i[1])

## Задача №9

**Условие:** Дано два списка. Напишите программу, которая найдет все элементы, которые принадлежат первому списку и не принадлежат второму. 

**Пример для проверки:**  
*Входные данные*  
2 4 6 8 10  
5 10 15 25  
*Выходные данные*    
2 4 6 8

In [5]:
list_1 = list(map(int, input().split()))
list_2 = list(map(int, input().split()))

print(*(set(list_1) - set(list_2)))

2 4 6 8 10
5 10 15 25
8 2 4 6

In [ ]:
list_1 = list(map(int, input().split()))
list_2 = list(map(int, input().split()))

result = list(set(list_1) - set(list_2))
result.sort()
print(*result)

## Задача №10

**Условие:** Напишите функцию, которая будет находить наибольший общий делитель для двух чисел.

**Пример для проверки:**  
*Входные данные*  
9  
6   
*Выходные данные*    
3

In [ ]:
a = int(input())
b = int(input())
if a > b:  # define the if condition 
    temp = b 
else: 
    temp = a 
for i in range(1, temp + 1): 
        if(( a % i == 0) and(b % i == 0 )): 
            temp = i 
print(temp)

305
200
5

In [3]:
import math
math.gcd(int(input()),int(input()))

305
200

5

## Задача №11

**Условие:** Напишите функцию, которая определяет по введенному числу, четное оно или нет. Если число четное, то выведите True, а если нет, то False.

**Пример для проверки:**  
*Входные данные*  
10   
*Выходные данные*    
True

In [ ]:
num = int(input())
if num %2 == 0:
  print('True')
else:
  print('False')

56274
True

## Задача №12

**Условие:** Напишите функцию, которая определяет по тексту, является ли он палиндромом. Если является, то выведите Yes, а если нет, то No.

**Пример для проверки:**  
*Входные данные*  
Искать такси   
*Выходные данные*    
Yes

In [2]:
str = input()
str = str.lower()
str = str.replace(" ", "")
str = str.replace('-', '')
if str[:] == str[::-1]:
  print('YES')
else:
  print('NO')

Я - арка края
YES

In [ ]:
def wordChecker(word):
  word = word.replace(' ','').lower()
  word = word.replace('!','')
  if word == word[::-1]:
    return 'Yes'
  else:
    return 'No'
  

word_input = input()
wordChecker(word_input)